:root {
  --very-light-pink: #d8d8d8;
  --aqua-marine: #31d2cc;
  --blue-purple: #3333cc;
  --white: #ffffff;
  --pale-grey: #ebebfa;
  --aqua-marine-two: #49d2cc;
  --perrywinkle: #8f8fe3;
  --pastel-blue: #aeaeeb;
  --soft-blue: #7070dc;
  --warm-blue: #5252d4;
  --aqua-marine-two: #50d9d4;
  --light-periwinkle: #ccccf3;
  --tiffany-blue: #8ee7e3;
  --duck-egg-blue: #ccf4f3;
  --seafoam-blue: #6fe0dc;
  --ice-blue: #ebfbfa;
  --robin-s-egg-blue: #adedeb;
  --dusk-blue: #2a2c86;
  --blueberry: #4a4b99;
  --iris: #6a6bab;
  --bluey-grey: #8b8bbd;
  --light-grey-blue: #aaabcf;
  --black: #212121;
  --light-periwinkle: #cacae1;
  --greyish-brown: #434343;
  --brownish-grey: #646464;
  --brown-grey: #868686;
  --pale-grey: #ebebf4;
  --very-light-pink-two: #c8c8c8;
  --very-light-pink-two: #eaeaea;
  --brown-grey: #a7a7a7;
  --brown-grey: #9e9e9e;
  --brown-grey: #adadad;
  --very-light-pink-two: #bbbbbb;
  --very-light-pink-two: #cacaca;
  --very-light-pink-two: #e7e7e7;
  --pink-red: #f3174d;
  --white: #f6f6f6;
  --reddish-pink: #f43a68;
  --very-light-pink-two: #d9d9d9;
  --soft-pink: #f8a3b8;
  --rose-pink: #f6809f;
  --light-pink: #fde9ee;
  --weird-green: #48d5a0;
  --greenish-cyan: #51dcae;
  --seafoam-blue: #70e2bd;
  --light-rose: #fac5d3;
  --warm-pink: #f45c83;
  --light-teal: #8fe8cb;
  --pale-turquoise: #adefda;
  --ice: #ebfbf6;
  --duck-egg-blue: #ccf5e8;
  --orange-yellow: #f7a104;
  --macaroni-and-cheese: #f8b027;
  --sandy: #facc73;
  --egg-shell: #fce8bf;
  --dark-cream: #fbda9a;
  --butterscotch: #f9be4d;
  --off-white: #fef6e6;
  --soft-green: #7cc372;
  --light-grey-green: #aad9a4;
  --light-sage: #c1e3bd;
  --boring-green: #64b859;
  --very-light-green: #d9eed6;
  --pale-olive-green: #93ce8b;
  --off-white: #f0f9ee;
  --pale-peach: #f3dbb3;
  --egg-shell: #f7e6ca;
  --pale: #f9ecd6;
  --light-peach: #f5e1bf;
  --off-white: #fbf1e1;
  --off-white: #fcf6ec;
  --very-light-pink-two: #fefcf8;
  --light-blue: #9ed8e8;
  --lightblue: #8cd0e4;
  --baby-blue: #afdfed;
  --pale-sky-blue: #c0e6f1;
  --light-sky-blue: #d1edf5;
  --pale-grey: #f4fbfd;
  --ice-blue: #e3f4fa;
  --grape: #5f3771;
  --grape-purple: #421557;
  --muted-purple: #7b5b8a;
  --pale-purple: #b4a2bc;
  --pale-violet: #d0c5d5;
  --liliac: #b088f4;
  --baby-purple: #bf9df6;
  --light-urple: #a372f1;
  --light-lavender: #dcc7fa;
  --pale-lavender: #ede9ef;
  --heather: #987fa2;
  --pale-violet: #cdb2f8;
  --pale-lavender: #e8dcfc;
  --pale-grey: #f6f2fe;
}