
.bs2_fluido{
  display: flex;
  flex-direction: row;
  .bg {
    width: 210px;
    height: 100vh;
    background-color: var(--warm-blue);
  }


.ico{ 
.imitir-boleto{}
.home{}
.cobranca{}
.financiamento{}
.remessa{}
.clientes{}
}
}